*{
    margin: 0;
    
}
.menu-container{
    background-color: rgb(109, 106, 106);
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.item{
   margin-left: 20px;
   padding-left: 10px;
   font-size: 20px;
   cursor: pointer;

}
.item:hover{
    color: chartreuse;
}